@import './variables.scss';

// Elements

// Blockquotes
blockquote,
blockquote p {
  line-height: 1.25rem;
}
blockquote {
  margin: 0 0 20px;
  padding: 0.5rem 1.25rem;
  cite {
    display: block;
    &::before {
      content: '\2014 \0020';
    }
  }
}

div,
form,
ul,
section,
li,
fieldset {
  position: relative;
}

div {
  .primary-background {
    background: $primary-background;
  }
  .secondary-background {
    background: $secondary-background;
  }

  .background-linear-gradient {
    background: $linear-gradient-bg;
  }
}

div.full,
section.full {
  width: 100%;
}

// __Lists__

// ul,
// ol {
//   margin-bottom: 20px;
// }
ul {
  list-style: none outside;
}
ol {
  list-style: decimal;
}

sup {
  vertical-align: super;
}

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: default;
}

.draggable {
  cursor: move;
}

img {
  max-width: 100%;
  height: auto;
}
// svg {
//   height: 1rem;
//   width: 1rem;
// }

button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  gap: 12px;
  width: fit-content;
  transition: all 0.3s ease;

  &.primary {
    // min-width: 206px;
    height: 72px;
    padding: 0px 50px;
    background: $button-primary;
  }

  &.secondary {
    height: 60px;
    padding: 0px 50px;
    background: $button-primary;
  }

  &.tertiary {
    height: 46px;
    padding: 0px 20px;
    background: $button-primary;
  }

  &.auth {
    height: 60px;
    padding: 0px 30px;
    background: $button-primary;
  }

  &.outline {
    border: 2px solid $color-action;
    background: none;
  }

  &.link {
    padding: 0px 20px;
    background: none;
  }

  &.white {
    background: $color-white;
  }

  &.width-full {
    width: 100%;
  }

  &.secondary-background {
    background: $secondary-background;
  }
}

button:hover {
  transform: scale(0.95);
}
