.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}
