@import './variables.scss';
// Typography
// Font face

@each $font-face in SpaceMono-Regular, WorkSans-Regular {
  @font-face {
    font-family: '#{$font-face}';
    src: url('../fonts/#{$font-face}.ttf') format('truetype');
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
  color: $color-white;
  font-weight: 600;
  // line-height: 1.5;
}

h1 {
  font-size: 67px;
  line-height: 74px;
  // margin-block-end: 1.2rem;

  .date {
    color: $grey-70;
  }
}

h2 {
  font-size: 51px;
  line-height: 1.2;
}

h3 {
  font-size: 38px;
  line-height: 1.2;
}

h4 {
  font-size: 28px;
  line-height: 1.2;
}

h5 {
  font-size: 22px;
  line-height: 1.2;
}

p {
  line-height: 1.5;
  margin: 0;

  img {
    margin: 0;
  }

  &.label-button {
    font-size: 16px;
    font-weight: 600;

    &.white {
      color: $primary;
    }
  }

  &.caption {
    color: $color-caption;
  }
}

em {
  font-style: italic;
}

small {
}

strong {
  font-weight: bold;
}

hr {
  border: solid $blackish;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 10px 0 30px;
}

// __Links__
a {
  cursor: pointer;
}
a,
a:visited {
  color: $color-link-primary;
  text-decoration: none;

  &:hover {
    color: $color-black600;
    transition: color 0.3s linear;
  }
}

a.secondary,
a.secondary:visited {
  color: $color-black600;
  text-decoration: none;

  &:hover {
    color: $color-link-primary;
    transition: color 0.3s linear;
  }
}

// Custom
