@import '../../../styles/variables.scss';

.ant-space-compact-block {
  justify-content: flex-end;
  width: 25% !important;

  .ant-btn {
    background: $primary-background;
    border-radius: 14px;

    p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .ant-btn:active,
  .ant-btn:focus,
  .ant-btn:hover {
    background: none;
    border-color: $color-action;
  }

  .ant-btn:active {
    border-color: $color-action;
  }
}

.ant-dropdown-menu {
  width: 170px;
  background-color: $secondary-background !important;
  border-radius: 16px !important;
  overflow: hidden;
  padding: 0px !important;

  p {
    text-align: center;
    color: $color-action;
    font-size: 16px;
    font-weight: 600;
  }

  li {
    text-align: center;

    padding: 16px 30px;
  }

  li:hover {
    background: $color-caption;
  }
}
