@import '../../../../styles/variables.scss';

.artist-card {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;

  &.scrXl {
    width: 240px;
    height: 240px;
    flex-direction: column;

    .artist-card-image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &.scrMd {
    width: 330px;
    height: 100px;

    .artist-card-image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &.scrXs {
    width: 315px;
    height: 100px;

    .artist-card-image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

.artist-card:hover {
  transform: scale(0.95);
}

.artist-card-size {
  width: fit-content;
  display: flex;
  align-items: center;

  &.sm {
    gap: 12px;
    padding: 10px 20px;
    background: $secondary;
    border-radius: 20px;
  }

  &.md {
    gap: 20px;
  }

  .artist-card-box-image {
    border-radius: 50%;
    overflow: hidden;
  }
}
