@import '../../../../styles/variables.scss';

.tabbar {
  .tabbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 60px;
    padding: 0px 30px;

    h5 {
      color: $color-caption;
      cursor: pointer;
    }

    &.active {
      border-bottom: 2px solid $color-caption;

      h5 {
        color: $white;
        cursor: default;
      }
    }
  }
}
