@import '../../../../styles/variables.scss';

.modal-customize {
  .ant-modal-header {
    background: none;
    border-bottom: 1px solid $secondary-background;
    .ant-modal-title {
      color: white;
      font-size: 22px;
      font-weight: 600;
    }
  }

  .ant-modal-content {
    background: $primary-background;
    border-radius: 18px;
    overflow: hidden;
  }

  .ant-modal-footer {
    background: none;
    border-top: 1px solid $secondary-background;
  }
}
