@import '../../../../styles/variables.scss';

.box {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;

  image {
    position: absolute;
    top: -50px;
  }

  &.border-box {
    border: 2px solid $primary;
  }

  &.box-transition {
    cursor: pointer;
  }

  &.box-transition:hover {
    transform: scale(0.95);
  }

  &.more {
    background: $color-action;
  }

  .box-edit-image {
    position: absolute;

    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;

    display: flex;
    align-items: center;
    justify-content: center;

    .box-edit-icon {
      font-size: 30px;
      cursor: pointer;
    }

    .box-edit-input {
      display: none;
    }
  }
}
