@import '../../../styles/variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $secondary-background;
  padding: 40px 0px;

  border-top: 2px solid $primary;

  .footer-info {
    display: grid;
    margin-bottom: 50px;

    &.scrXl {
      width: 980px;
    }

    &.scrMd {
      width: 690px;
      gap: 30px;
    }

    &.scrXs {
      width: 315px;
    }
  }
}
