@import '../../../../styles/variables.scss';

.box-input {
  &.vertical {
    display: grid;
    gap: 15px;
  }

  &.horizontal {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .input-normal {
    height: 46px;
    width: 100%;
    background: $secondary-background;
    border: none;
    border-radius: 20px;
    padding: 16px 20px 16px 20px;
    color: $white;

    &.disabled {
      background: none;
      padding: 0px;
    }
  }

  .upload-image {
    width: 120px;
    height: 120px;
    border: 1px dashed $color-caption;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .input-image {
      display: none;
    }
  }

  input:focus {
    outline: 2px solid $color-action;
  }
}
