.card {
  border-radius: 20px;
  overflow: hidden;

  &.normal {
    .card-image-placeholder {
      height: 401px;
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        top: -50px;
      }
    }

    &.scrXl {
      width: 510px;
      height: 510px;
    }

    .card-info {
      padding: 20px 20px;
    }
  }

  &.collection {
    display: grid;
    gap: 15px;

    &.scrXl {
      width: 330px;
      height: 525px;
    }

    &.scrXs {
      width: 315px;
      height: 505px;
    }

    .card-image {
      display: grid;
      gap: 15px;

      .card-image-placeholder {
        border-radius: 20px;
        overflow: hidden;
        transition: all 0.3s ease;
        cursor: pointer;
      }

      .card-image-placeholder:hover {
        transform: scale(0.95);
      }

      .card-image-secondary {
        display: flex;
        gap: 15px;
        height: 100px;
      }
    }

    .card-info {
      padding: 0px;
    }
  }

  &.discover {
    cursor: pointer;
    transition: all 0.3s ease;

    &.scrXl {
      width: 330px;
      height: 468px;
    }

    &.scrXs {
      width: 315px;
      height: fit-content;
    }

    .card-image {
      .card-image-placeholder {
        height: 295px;
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          top: -20px;
        }
      }
    }

    .card-info {
      display: grid;
      gap: 25px;
      padding: 20px 30px;

      .card-discover {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &.discover:hover {
    transform: scale(0.95);
  }

  &.work {
    display: flex;
    gap: 20px;

    &.scrXl {
      width: 330px;
      height: 439px;
      padding: 10px 30px;
      text-align: center;
      flex-direction: column;
    }

    &.scrMd {
      width: 210px;
      height: 337px;
      padding: 10px 20px;
      text-align: center;
      flex-direction: column;
    }

    &.scrXs {
      width: 315px;
      padding: 20px;
      align-items: center;
      justify-content: space-between;
    }

    .card-image {
      height: fit-content;
    }
  }

  &.create {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  &.create:hover {
    transform: scale(0.95);
  }
}
