@import '../../../../styles/variables.scss';

.form {
  width: 60%;
  display: grid;
  gap: 30px;

  &.width-full {
    width: 100%;
  }

  .form-input {
    display: grid;
    gap: 15px;

    input {
      height: 46px;
      width: 100%;
      border: none;
      border-radius: 20px;
      padding: 16px 20px 16px 52px;
      color: $primary;

      position: relative;
    }

    input:focus {
      outline: none;
    }

    .form-icon {
      position: absolute;
      top: 13px;
      left: 20px;
      z-index: 1;
    }
  }
}
