@import '../../../../styles/variables.scss';

.auction-timer {
  width: 295px;
  height: fit-content;
  display: grid;
  gap: 10px;
  padding: 30px;
  border-radius: 20px;
  background: #3b3b3b80;

  .auction-timer-title,
  .auction-timer-time {
    font-size: 12px;
  }

  .auction-timer-countdown {
    display: flex;
    justify-content: space-between;

    &.and-button {
      margin-bottom: 20px;
    }
  }
}
