.section-highlight {
  &.scrXl,
  &.scrMd {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 220px;
  }

  &.scrXs {
    display: grid;
    gap: 30px;
  }
}
