.list {
  display: grid;

  ul {
    padding: 0px;
    margin-bottom: 0px;
    display: grid;
  }

  &.normal {
    gap: 25px;

    ul {
      gap: 20px;

      li {
        width: 80%;
        color: #cccccc;
      }
    }
    .list-contact {
      display: flex;
      gap: 10px;
    }

    .contact {
      width: 100%;

      &.scrMd {
        width: 60%;
      }
    }
  }

  &.secondary {
    gap: 10px;

    h5 {
      color: #858584;
    }

    ul {
      gap: 10px;

      li {
        font-size: 22px;
        width: 85%;
      }
    }

    .list-contact {
      display: flex;
      gap: 10px;
    }
  }
}
