@import '../../../../styles/variables.scss';

.ant-progress {
  position: absolute !important;
  top: 0;
  line-height: 0 !important;

  .ant-progress-outer {
    .ant-progress-inner {
      background-color: $primary-background;
    }
  }

  &.hiden {
    display: none;
  }
}
