@import '../../../styles/variables.scss';

.highlight {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 640px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 60px;

  &.cover-photo {
    height: 320px;

    .highlight-img {
      width: 100%;

      &.scrXl {
        top: -100px;
      }

      &.scrMd {
        top: -100px;
      }

      &.scrXs {
        max-width: none;
        width: 600px;
        top: 10px;
      }

      position: absolute;
    }
  }

  .highlight-img {
    width: 100%;

    &.scrXl {
      top: -420px;
    }

    &.scrMd {
      top: -100px;
    }

    &.scrXs {
      max-width: none;
      width: 600px;
      top: 10px;
    }

    position: absolute;
  }

  .linear-gradient-bg {
    position: absolute;
    background: $linear-gradient-bg;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
