@import '../../../styles/variables.scss';

.ant-pagination {
  //   display: flex;
  //   justify-content: center;

  .ant-pagination-item {
    background-color: $secondary-background;
    border-color: $color-caption;
    a {
      color: #fff;
    }
  }

  .ant-pagination-item-active {
    background-color: $primary-background;
    border-color: #fff;
    a {
      color: #fff;
    }
  }

  .ant-pagination-next,
  .ant-pagination-prev {
    .ant-pagination-item-link {
      background-color: $secondary-background;
      border-color: $color-caption;
    }
  }

  .ant-pagination-jump-next,
  .ant-pagination-jump-prev {
    // a {
    //   color: #fff;
    // }
  }

  .ant-select-selector {
    background-color: $secondary-background !important;
  }
  .ant-select-dropdown {
    background-color: $secondary-background !important;
    .ant-select-item-option {
      background-color: $secondary-background !important;
      color: #fff;
    }
  }
}
