@import '../../../styles/variables.scss';

.table {
  display: grid;
  align-content: center;
  gap: 10px;
  border: 1px solid $color-caption;
  border-radius: 20px;
  padding: 12px 0px;

  &.header {
    height: 46px;
  }

  &.item {
    height: fit-content;
    border: none;
    background: $secondary-background;
  }

  .table-content {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;

    .table-content-title {
      width: 430px;
      display: flex;
      align-items: center;
      gap: 20px;

      .rank {
        width: 30px;
        text-align: center;
      }
    }

    .table-content-tats {
      display: flex;
      align-items: center;
      gap: 20px;

      .tat {
        width: 160px;

        &.highlight-color {
          color: #00ac4f;
        }
      }
    }
  }
}
