@import '../../../../styles/variables.scss';

.ant-select {
  .ant-select-selector {
    height: 40px;
    border-radius: 20px !important;
    background-color: $primary-background !important;
    padding: 0px 10px !important;

    .ant-select-item-option-active {
      background-color: red !important;
    }
  }
}
