.section-headline {
  &.headline-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .headline {
    display: grid;
    gap: 10px;

    &.desktop {
      p {
        width: 100%;
        font-size: 22px;
      }
    }
  }
}
