@import '../../../../styles/variables.scss';

.subscribe-form {
  display: flex;

  input:focus {
    outline: none;
  }

  &.nested {
    .subscribe-form-input {
      position: relative;
    }

    .subscribe-form-btn {
      position: absolute;
      right: 0;
    }
  }

  &.vertical {
    flex-direction: column;
    gap: 16px;
  }

  &.xl {
    .subscribe-form-input {
      height: 60px;
      width: 100%;
      border: none;
      border-radius: 20px;
      padding: 16px 0px 16px 20px;
      color: $primary;
    }
  }

  &.md {
    .subscribe-form-input {
      height: 46px;
      width: 100%;
      border: none;
      border-radius: 20px;
      padding: 16px 0px 16px 20px;
      color: $primary;
    }
  }
}
