@import '../../../../styles/variables.scss';

.box-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 30px;
  border-radius: 20px;
  padding: 5px 10px;

  &.rank {
    background: $primary;
  }

  &.tab {
    background: $secondary;
    p {
      color: $white;
    }

    &.highlight-tab {
      background: #858584;
    }
  }

  &.absolute {
    position: absolute;
  }
}
