@import '../../../../styles/variables.scss';

.textarea-normal {
  border: none;
  background: $secondary-background;
  padding: 5px;

  &.disabled {
    background: $primary-background;
    padding: 0px;
    resize: none;
  }
}

.textarea-normal:focus {
  outline: 2px solid $color-action;
}
