.artist-info {
  &.horizontal {
    display: grid;
    gap: 5px;

    &.desktop {
      text-align: center;
    }

    .artist-info-content {
      display: flex;
      gap: 10px;
    }
  }

  &.vertical {
    .artist-info-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      // text-align: right;

      .artist-info-title {
        font-size: 12px;
      }
    }
  }
}
