@import '../../../../styles/variables.scss';

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary;
  position: relative;

  &.desktop {
    height: 100px;
    padding: 20px 50px;
  }

  &.tablet {
    height: 54px;
    padding: 15px 50px;
  }

  &.mobile {
    height: 54px;
    padding: 15px 30px;
  }
}
