@import '../../../../styles/variables.scss';

.copyright {
  border-top: 1px solid $color-caption;
  padding-top: 20px;

  &.scrXl {
    width: 1050px;
  }
  &.scrMd {
    width: 690px;
  }
  &.scrXs {
    width: 315px;
  }

  .copyright-text {
    font-size: 12px;
    color: #cccccc;
  }
}
