@import '../../../styles/variables.scss';

.search-box {
  height: 60px;
  width: 100%;
  padding: 12px 0px;
  border: 1px solid $secondary;
  border-radius: 20px;
  display: grid;

  .search-box-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    .search-box-input {
      width: 94%;
      background: none;
      border: none;
    }

    .search-box-input:focus {
      outline: none;
    }

    .search-box-icon {
      cursor: pointer;
    }
  }
}
