@import '../../../../styles/variables.scss';

.subscribe-widget {
  display: flex;
  border-radius: 20px;
  background: $secondary-background;

  &.scrXl {
    padding: 60px;
    align-items: center;
    justify-content: space-between;

    .subscribe-widget-form {
      display: grid;
      width: 425px;
      gap: 40px;
    }
  }

  &.scrMd {
    padding: 40px 30px;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .subscribe-widget-form {
      display: grid;
      width: 300px;
      gap: 40px;
    }
  }

  &.scrXs {
    flex-direction: column;
    gap: 30px;
    background: none;

    .subscribe-widget-form {
      display: grid;
      width: 100%;
      gap: 40px;
    }
  }
}
